<app-subheader selectedMenuName="Channels" [actions]="menubarItems" ></app-subheader>
<app-delete [visible]="visibleDialog" [items]="selectedChannels" [itemLabel]="'channel'" [idField]="'id'"
(deleteConfirmed)="onDeleteChannel()" (cancel)="visibleDialog = false"></app-delete>

<div *ngIf="showMessage" class="showMessage flex justify-content-center align-items-center" style="height: calc(100vh - 56px);">
  <div class="text-center">
No channels are available. To create one, click the plus sign in the top-right corner or use the <a routerLink="/channels/channel-create" class="text-green-700">Create Channel</a> link.</div>
</div>

<div *ngIf="!showMessage" class="main-content-body">
 <supreme-table [columnArray]="columnList" [gridData]="channelList" [(selection)]="selectedChannels"></supreme-table>
</div>
