<div style="position: fixed; background-color: #006666; z-index: 10; width: 100%; top: 0px">
    <a href="/" style="color: white;">&nbsp;&lt; Back to G-Node interface</a>
</div>

<div [style]="{'margin-top': '2rem', 'opacity': isOpen ? '40%' : '100%'}">
  <div class="container flex-grow-1">
    <a href="/dashboard/devices">&nbsp;&lt; back</a>
    <div class="row d-flex mx-auto">
      @for (_ of [].constructor(dataPointsPerPage); track $index; let idx = $index) {
        <div class="col-sm-12 col-md-6 col-lg-4 d-flex flex-column ">
          <div class="mt-3">
            <img
              #cnodeFrame
              class="mx-auto"
              style="display: block; width: 100%;"
              (click)="showBig($event)"
            >
          </div>
          @if (idx < deviceHistoricalData.length) {
            {{deviceHistoricalData[idx]["created"]}}
            <table style = "width: 100%;">
              @for (sensor_data of deviceHistoricalData[idx]["data"]; track $index) {
                <tr>
                  <td>{{sensor_data.title}}</td>
                  <td style = "text-align: left">{{sensor_data.value}} {{sensor_data.units}}</td>
                </tr>
              }
            </table>
          }
        </div>
      }
    </div>
  </div>
</div>

<p-paginator
    (onPageChange)="onPageChange($event)"
    [first]="0"
    [rows]="12"
    [totalRecords]="120"
    [rowsPerPageOptions]="[6, 12, 24]"
/>

<div *ngIf="isOpen" class="image-viewer">
  <div
    (click)="hideBig($event)"
    class="image-viewer-cross"
  >
    X
  </div>
  <img
    #cnodeFrameBig
    style="display: block; width: 100%;"
    (click)="hideBig($event)"
  >
</div>