<div class="card flex flex-column justify-content-center">
   <div class="mb-4  flex flex-column ">
    <h1 class=" flex flex-row justify-content-center mt-3 mb-auto">Forgot your password?</h1>
    <p class="flex flex-row justify-content-center mt-2">To reset your password, please enter your email.</p>
  </div>
<form [formGroup]="forgotPasswordForm">
    <div class="card flex flex-row justify-content-center">
        <p-card>
          <div class="flex flex-column gap-2">
            <label for="email">Email<span class="asterisk">&#42;</span></label>
            <input class="mb-4" formControlName="email" name="email" pInputText id="email" />
            <small *ngIf="email.invalid && (email.dirty || email.touched)" class="block p-error mb-4" >
                <div *ngIf="email.errors?.['required']">Email is required.</div>
                <div *ngIf="email.errors?.['email']">Email should be valid</div>
            </small>
          </div>
          <button pButton pRipple label="SEND RESET LINK" (click)="onSubmit()"> </button>
          <div class="btext flex flex-row justify-content-center mt-4"><a [routerLink]="['/login']"><span>Back to log in</span></a></div>
        </p-card>
    </div>
</form> 
</div>

