<app-subheader selectedMenuName="Pipelines" [actions]="menubarActions" ></app-subheader>

<app-delete [visible]="visibleDialog" [items]="selectedPipelines" [itemLabel]="'pipeline'" [idField]="'id'"
(deleteConfirmed)="onDeletePipelines()" (cancel)="visibleDialog = false"></app-delete>

<div *ngIf="showMessage" class="showMessage flex justify-content-center align-items-center" style="height: calc(100vh - 56px);">
  <div class="text-center">No pipelines available. To create one, click the plus sign in the top-right corner or use the <a routerLink="/pipelines/pipeline-create" class="text-green-700">Create Pipeline</a> link.</div>
</div>

<div *ngIf="!showMessage" class="main-content">
  <supreme-table [columnArray]="columnList" [gridData]="pipelines" [(selection)]="selectedPipelines"></supreme-table>
</div>