<app-subheader selectedMenuName="Pipelines" [actions]="menubarActions" ></app-subheader>

<app-delete [visible]="visibleDialog" [items]="selectedPipelines" [itemLabel]="'pipeline'" [idField]="'id'"
(deleteConfirmed)="onDeletePipelines()" (cancel)="visibleDialog = false"></app-delete> 

<div *ngIf="showMessage" class="showMessage flex justify-content-center align-items-center" style="height: calc(100vh - 56px);">
  <div class="text-center">No pipelines available. To create one, click the plus sign in the top-right corner or use the <a routerLink="/pipelines/pipeline-create" class="text-green-700">Create Pipeline</a> link.</div>
</div>

<div *ngIf="!showMessage" class="main-content">
  <p-toast position="top-right" class="mt-6" [baseZIndex]="5000"/>
  <p-table [value]="pipelines" selectionMode="multiple" [(selection)]="selectedPipelines" dataKey="id" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 30]" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem"><p-tableHeaderCheckbox name="checkbox" /></th>
        <th >Pipeline ID</th>
        <th >Connector In</th>
        <th >Connector Out</th>
        <th >Status</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" class="pipeline" let-pipeline>
      <tr>
        <td><p-tableCheckbox name="checkbox" [value]="pipeline" /></td>
        <td><a routerLink="/pipelines/pipeline-detail/{{pipeline.id}}">{{pipeline.id}}</a></td>
        <td>{{pipeline.connector_in}}</td>
        <td>{{pipeline.connector_out}}</td>
        <td>{{pipeline.status}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>