<div style="position: fixed; background-color: #006666; z-index: 10; width: 100%; top: 0px">
    <a href="/" style="color: white;">&nbsp;&lt; Back to G-Node interface</a>
</div>

<div style = "margin-top: 2rem">
  <div class="container flex-grow-1">
    <div class="row d-flex mx-auto">
      @for (entry of deviceList; track $index) {
        <div class="col-sm-12 col-md-6 col-lg-4 d-flex flex-column">
          <div style="text-align: right">
            <a href="/dashboard/device/{{entry.id}}">
              <i class="pi pi-folder-open"></i>
            </a>
          </div>
          <div>
            <img id="{{entry.id}}" #cnodeFrame src="" class="mx-auto" style="display: block; width: 100%;">
          </div>
        </div>
      }
    </div>
  </div>
</div>