.image-viewer {
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
}

.image-viewer-cross {
    background-color: white;
    display: block;
    position: absolute;
    top: 30px;
    right: 20px;
    padding:5px 10px 5px 10px;
    opacity: 70%;
    cursor: default;
    z-index: 10000
}