<div style="position: fixed; background-color: #006666; z-index: 10; width: 100%; top: 0px">
    <a href="/" style="color: white;">&nbsp;&lt; Back to G-Node interface</a>
</div>

<div [style]="{'margin-top': '2rem', 'opacity': isOpen ? '40%' : '100%'}">
  <div class="container flex-grow-1">
    <div class="row d-flex mx-auto">
      @for (entry of deviceList; track $index) {
        <div class="col-sm-12 col-md-6 col-lg-4 d-flex flex-column">
          <div style="text-align: right">
            <a href="/dashboard/device/{{entry.id}}">
              <i class="pi pi-folder-open"></i>
            </a>
          </div>
          <div>
            <img
              #cnodeFrame
              [attr.device-id]="entry.id"
              class="mx-auto"
              style="display: block; width: 100%;"
              (click)="showBig($event)"
            >
          </div>
          @if (deviceData[entry.id]) {
            {{deviceData[entry.id]["created"]}}
            <table style = "width: 100%;">
              @for (sensor_data of deviceData[entry.id]["data"]; track $index) {
                <tr>
                  <td>{{sensor_data.title}}</td>
                  <td style = "text-align: left">{{sensor_data.value}} {{sensor_data.units}}</td>
                </tr>
              }
            </table>
          }
        </div>
      }
    </div>
  </div>
</div>

<div *ngIf="isOpen" class="image-viewer">
  <div
    (click)="hideBig($event)"
    class="image-viewer-cross"
  >
    X
  </div>
  <img
    #cnodeFrameBig
    style="display: block; width: 100%;"
    (click)="hideBig($event)"
  >
</div>