.p-fluid .p-field {
  margin-bottom: 1.5rem;
}

button {
  width: auto;
  font-size: 16px;
  justify-content: center;
  background-color: #006666 !important;
}

button.genconfig {
  background-color: #f7f7f7 !important;
  color: black;
}
button.genconfig:hover {
  background-color: #006666 !important;
  color: #fff;
  border: 1px solid #c5c4c4;
}

button:hover {
  background-color: #017777 !important;
}

.input_field {
  padding: 9px;
  width: 29rem;
}

:host {
  ::ng-deep .p-button {
    padding: 0.375rem 0.625rem;
    border: 1px solid #2a2929;
  }
}

:host {
  ::ng-deep .p-button:hover {
    border: 1px solid #007979;
  }
}
.pipeline-create {
  resize: both;
  overflow: auto;
}

a {
  z-index: 10;
  position: relative;
}
::ng-deep .p-tooltip > .p-tooltip-text {
  width: 220px;
}
::ng-deep .p-toast .p-toast-message {
  margin-top: 3rem !important;
  border: 1px solid;
}
::ng-deep
  .p-toast
  .p-toast-message
  .p-toast-message-content
  .p-icon:not(.p-toast-icon-close-icon) {
  width: 1.5rem;
  height: 1.5rem;
}
