.p-fluid .p-field {
  margin-bottom: 1.5rem;
}

button {
  width: auto;
  font-size: 16px;
  justify-content: center;
  background-color: #006666 !important;
}

button.genconfig {
  background-color: #f7f7f7 !important;
  color: black;
}
button.genconfig:hover {
  background-color: #006666 !important;
  color: #fff;
  border: 1px solid #c5c4c4;
}

button:hover {
  background-color: #017777 !important;
}

.input_field {
  padding: 9px;
  width: 29rem;
}

.pipeline-create {
  resize: both;
  overflow: auto;
}

a {
  z-index: 10;
  position: relative;
}
