<app-subheader
  selectedMenuName="Create pipeline"
  backRoute="/pipelines"
></app-subheader>
<div class="main-content-body">
  <p-toast position="top-right" [baseZIndex]="5000"/>
  <div class="p-col-12 p-md-6">
      <div class="p-field flex flex-column mb-2">
        <label for="pipeid">Pipeline ID</label>
        <input
          name="pipeid"
          id="pipeid"
          class="input_field border-1 border-round"
          [(ngModel)]="pipeid"
        />
      </div>
        <p-tabView (activeIndexChange)="onModeChange($event)">
          <p-tabPanel header="Visual">
              <pipeline-assembler #pipelineAssembler></pipeline-assembler>
          </p-tabPanel>
          <p-tabPanel header="Raw">
              <div class="p-fluid">
                  <div class="p-field gap-1">
                      <textarea cols="100" rows="25" class="pipeline-edit" [(ngModel)]="pipelineJson"></textarea>
                  </div>
              </div>
          </p-tabPanel>
      </p-tabView>
      <div class="p-field mt-3">
        <button pButton (click)="onCreatePipeline()">Submit</button>
      </div>
  </div>
</div>
