.p-fluid .p-field {
  margin-bottom: 1.5rem;
}

button {
  width: 8rem;
  font-size: 18px;
  justify-content: center;
  background-color: #006666 !important;
}

.pubKeyFormat {
  box-sizing: content-box;
  resize: both;
  padding: 10px;
  overflow: hidden;
  width: 28rem;
  height: 10rem;
}

.input_field {
  padding: 9px;
  width: 29rem;
}

:host {
  ::ng-deep .p-button {
    padding: 0.375rem 0.625rem;
  }
}
