<app-subheader selectedMenuName="Settings" [showBackArrow]="true"></app-subheader>

<div class="main-content-body" [style]="{'margin-top': '120px'}">
  <p-toast position="top-right" (onClick)="clear()" (onClose)="loading = false"  [baseZIndex]="5000"/>
  <div class="formgrid grid ml-0 w-full">
    <p-divider align="left" type="solid" class="w-full"><b class="text-lg">MQTT Channels</b></p-divider>
    <div class="field col-12 w-full mt-1">
      <div>
        <p-checkbox [(ngModel)]="settings.allow_anonymous" [binary]="true" inputId="auto_id"/>
        <label for="auto_id" class="pl-2">Enable public access</label>
      </div>
      <small class="text-color-secondary inline-block pt-1">MQTT clients are able to connect without authentication</small><br>
    </div>

    <p-divider align="left" type="solid" class="w-full"><b class="text-lg">G-Cloud</b></p-divider>
    <div class="field col-12">
      <div>
        <p-checkbox [(ngModel)]="settings.allow_gnode_cloud" [binary]="true" inputId="cloud_id"/>
        <label for="cloud_id" class="pl-2">Enable G-Node cloud</label><br>
      </div>
    </div>

    <p-divider align="left" type="solid" class="w-full"><b class="text-lg">G-Time</b></p-divider>
      <!-- Setting time automatically-->
      <div class="field col-12 w-full">
        <div>
          <div class="mb-2">
            <p-checkbox [(ngModel)]="autoSyncEnabled" [binary]="true" (change)="toggleAutoSync()" inputId="autoSyncEnabled"/>
            <label for="autoSyncEnabled" class="pl-2">Set date and time automatically</label><br>
          </div>
        </div>

        <div *ngIf="autoSyncEnabled" class="field col-12 mt-2">
          <div class="mb-2"><label for="ntpServer" class="mr-2">Set NTP server</label></div>
          <input id="ntpServer" type="url" [(ngModel)]="ntpServer" 
                class="text-color surface-overlay p-2 border-1 border-round w-15rem"  
                placeholder="time.google.com" required/>
        </div>

        <div *ngIf="autoSyncEnabled" class="field col-12">
          <div class="mb-2"><label for="auto-tz-name">Select time zone </label></div>
          <select id="auto-tz-name" [ngModel]="selectedAutoTz" (ngModelChange)="updateAutoTimezone($event)"
                  class="text-color surface-overlay p-2 border-1 border-round w-15rem">
            <option *ngFor="let tz of tzNames" [value]="tz">{{ tz }}</option>
          </select>
        </div>
      </div>

      <!-- Setting time manually -->
      <div *ngIf="!autoSyncEnabled" class="field col-12 w-full mt-1">
        <div>
          <div class="mb-2"><label for="manual-tz-name">Select time zone </label></div>
          <select id="manual-tz-name" [(ngModel)]="selectedManualTz" (ngModelChange)="updateManualTimezone($event)"
                  class="text-color surface-overlay p-2 border-1 border-round w-15rem mb-2">
            <option *ngFor="let tz of tzNames" [value]="tz">{{ tz }}</option>
          </select>
        </div><br>

        <div class="mb-2"><label for="manualDate">Set Date:</label></div>
        <input id="manualDate" type="date" [(ngModel)]="manualDate" 
              class="text-color surface-overlay p-2 border-1 border-round w-15rem mb-4" (change)="setManualDateTime()">

        <div class="mb-2"><label for="manualTime">Set Time:</label></div>
        <input id="manualTime" type="time" [(ngModel)]="manualTime" 
              class="text-color surface-overlay p-2 border-1 border-round w-15rem" (change)="setManualDateTime()">
      </div>

      <small class="text-color-secondary inline-block p-2">Gnode Date/Time: {{ currentDateTime }}</small>


     <p-divider align="left" type="solid" class="w-full"><b class="text-lg">Network Settings</b></p-divider>
   <!--     <div class="field col-12 w-full">
          <div class="field col-12 mt-2">
            <div class="mb-2">
              <p-checkbox [(ngModel)]="availableWifi" [binary]="true"inputId="wifinnetwork"/>
              <label for="wifinnetwork" class="pl-2">Show available WiFi networks</label><br>
            </div>
          </div>

          <div >
            <ul *ngIf="availableWifi">
              <li>
                SSID: name 
              </li>
            </ul>

            <div *ngIf="autoSyncEnabled" class="field col-12">
              <div class="mb-2"><label for="ssid">SSID</label></div>
              <input id="ssid" type="text" pInputText [(ngModel)]="ssid" name="ssid" required  class="text-color surface-overlay p-2 border-1 border-round w-15rem"/>
            </div>
            
              <div *ngIf="autoSyncEnabled" class="field col-12 mt-2">
                <div class="mb-2"><label for="password">Password</label></div>
                <input id="password" type="password" pInputText [(ngModel)]="password" name="password" required class="text-color surface-overlay p-2 border-1 border-round w-15rem">
              </div>
              <div class="field col-12 mt-2">
                <div class="mb-2">
                  <p-checkbox [(ngModel)]="settings.allow_anonymous" [binary]="true"inputId="wifinnetwork"/>
                  <label for="wifinnetwork" class="pl-2">Active Connections</label><br>
                </div>
                            <ul>
              <li *ngFor="let connection of activeConnections">
                {{ connection.NAME }} ({{ connection.TYPE }})
              </li>
            </ul>
              </div>

          </div>
          <div *ngIf="fetchingStatus !== 'success'">
            <p>Loading network settings...</p>
          </div> -->

  
    <div class="field col-12 mt-4">
      <button pButton (click)="onSubmit()" class="button" [disabled]="loading">Submit</button>
    </div>
  </div>
</div>


<!-- Tab view -->

<!-- <div class="main-content-body" [style]="{'margin-top': '114px'}">
  <p-toast position="top-right" [baseZIndex]="5000"/>
  <p-tabView>
    <p-tabPanel header="MQTT Channels">
        <div class="field col-12 w-full">
          <div>
            <p-checkbox [(ngModel)]="settings.allow_anonymous" [binary]="true" inputId="auto_id"/>
            <label for="auto_id" class="pl-2">Enable public access</label>
          </div>
          <small class="text-color-secondary inline-block pt-1">MQTT clients are able to connect without authentication</small>
        </div>
      </p-tabPanel>
      
      <p-tabPanel header="G-Cloud">
        <div class="field col-12 w-full mt-2">
          <div>
            <p-checkbox [(ngModel)]="settings.allow_gnode_cloud" [binary]="true" inputId="cloud_id"/>
            <label for="cloud_id" class="pl-2">Enable G-Node cloud</label>
          </div>
        </div>  
      </p-tabPanel>
      
      <p-tabPanel header="G-Time">
          <div class="field col-12 mt-2">
            <div>
              <div class="mb-2"><label for="tz-name">Select time zone </label></div>
                <select name="timeZone" id="tz-name" [ngModel]="selectedTz" (ngModelChange)="timeZoneChanged($event)" class="text-color surface-overlay p-2 border-1 border-round w-15rem">
                  <option *ngFor="let tz of tzNames" [value]="tz">
                    {{ tz }}
                  </option>
                </select>
            </div>
                <small class="text-color-secondary inline-block pt-1">Current Date/Time: {{ currentDateTime }}</small>
          </div> 

          <div *ngIf="!autoSyncEnabled" class=" field col-12 mt-2">
            <div class="mb-2">
              <label for="manualDate" class="mr-2">Set Date:</label>
            </div>
            <div>  
              <input id="manualDate" type="date" [(ngModel)]="manualDate" class="text-color surface-overlay p-2 border-1 border-round w-15rem" (change)="setManualDateTime()">
            </div>
          </div>  
          
          <div *ngIf="!autoSyncEnabled" class=" field col-12 mt-2"> 
            <div class="mb-2">
              <label for="manualTime" class="mr-2">Set Time:</label>
            </div>  
            <div>
              <input id="manualTime" type="time" [(ngModel)]="manualTime" class="text-color surface-overlay p-2 border-1 border-round w-15rem" (change)="setManualDateTime()">
            </div>
          </div>  
      </p-tabPanel>

      <div class="field col-12 mt-4">
        <button pButton (click)="onSubmit()" class="button" [disabled]="loading">Submit</button>
      </div>
    </p-tabView>
 </div> -->