<app-subheader selectedMenuName="Settings" [showBackArrow]="true"></app-subheader>

<div class="main-content-body">
  <p-divider align ="left" type="solid"><b>MQTT Channels</b></p-divider>
  <div class="formgrid grid w-full">
    <div class="field col-12 w-full">
      <div>
        <p-checkbox [(ngModel)]="settings.allow_anonymous" [binary]="true" inputId="auto_id"/>
        <label for="auto_id" class="pl-2">Enable public access</label>
      </div>
      <small class="text-color-secondary inline-block pt-1">MQTT clients are able to connect without authentication</small>
    </div>
    <div class="field col-12 mt-3">
      <div>
        <div class="mb-2"><label for="tz-name">Select time zone </label></div>
        <select name="timeZone" id="tz-name" [ngModel]="selectedTz" (ngModelChange)="timeZoneChanged($event)" class="text-color surface-overlay p-2 border-1 border-round w-15rem">
          <option *ngFor="let tz of tzNames" [value]="tz">
            {{ tz }}
          </option>
        </select>
      </div>
        <small class="text-color-secondary inline-block pt-1 mb-2">G-Node Date/Time: {{ currentDateTime }}</small>
    </div>
<!--     <div class=" field col-12 mt-3">
      <div>
        <p-checkbox [(ngModel)]="settings.autoSetTime" (change)="onAutoSyncChange()" [binary]="true" inputId="auto_time"/>
        <label for="auto_time" class="pl-2">Set time automatically </label>
      </div>
    </div> -->
    <div *ngIf="!autoSyncEnabled" class=" field col-12 mt-2">
      <div class="mb-2">
        <label for="manualDate" class="mr-2">Set Date:</label>
        <input id="manualDate" type="date" [(ngModel)]="manualDate">
      </div>

    </div>  
    <div *ngIf="!autoSyncEnabled" class=" field col-12 mt-2"> 
      <div class="mb-2">
        <label for="manualTime" class="mr-2">Set Time:</label>
        <input id="manualTime" type="time" [(ngModel)]="manualTime">
      </div>

    </div>
    <div class="field col-12 mt-4">
      <button pButton (click)="onSubmit()" class="button">Submit</button>
    </div>
  </div>
</div>