<div class="card flex flex-column justify-content-center">
  <div class="mb-3  flex flex-column ">
    <h1 class=" flex flex-row justify-content-center mt-5">Create an account</h1>
  </div>
  <div class="flex flex-column justify-content-center">
    <form>
      <div class="card flex flex-row justify-content-center ">
        <p-card>
          <div class="flex flex-column gap-2">
            <label for="email">Email</label>
            <input class="mb-4" name="email" pInputText id="email" [(ngModel)]="loginObj.email" />
          </div>
          <div class="flex flex-column gap-2">
            <label for="username">Username</label>
            <input class="mb-4" name="username" required pInputText id="username" aria-describedby="username-help"
              [(ngModel)]="loginObj.username" />
          </div>
          <div class="flex flex-column gap-2 mb-4">
            <label for="passwordInput">Password</label>
            <p-password [(ngModel)]="loginObj.password" name="passwordInput" id="passwordInput" inputId="passwordInput" class="w-full" promptLabel="Choose a password" 
              weakLabel="Too simple" 
              mediumLabel="Average complexity" 
              strongLabel="Complex password" [toggleMask]="true" [style]="{'width':'100%'}"
              [inputStyle]="{'width':'100%'}"/>
          </div>
          <button pButton pRipple label="CREATE AN ACCOUNT" (click)="onRegistor()"> </button>
        </p-card>
      </div>
    </form>
  </div>
  <div class="flex flex-column justify-content-center">
    <p-divider layout="horizontal" class="p-divider-center flex flex-row justify-content-center w-2 m-auto"></p-divider>
  </div>

  <div class="flex flex-column mb-5">
    <p class=" flex flex-row justify-content-center m-auto">Already have an account? <a [routerLink]="['/login']"
        class="ml-2">Log in</a></p>
  </div>
</div>