
<p-dialog (click)="onClose()" [(visible)]="visible" [modal]="true" [style]="{ width: '40rem' }">
  <ng-template pTemplate="header">
    {{ isMultiple ? 'Delete channels: ' + channelIds.join(', ') + '?' : 'Delete channel: ' + channelIds[0] + '?' }}
  </ng-template>
    <span class="p-text-secondary block mb-5">
      This action will delete {{ isMultiple ? 'these channels' : 'this channel' }} and all its metadata, but does not affect data already published to Cloud Pub/Sub.
    </span>
    <div class="flex justify-content-end gap-2">
      <button pButton label="Cancel" [style]="{ 'background-color':'white', 'color':'black'}" (click)="onCancel()"></button>
      <button pButton label="Delete"  (click)="onDelete()"></button>
    </div>
</p-dialog>
