<app-subheader selectedMenuName="Create User" backRoute="/users" > </app-subheader>
<div class="main-content-body">
  <h3 class="field col-12">Create new user</h3>
  <div class="field col-12">
    <div class="mb-2"><label for="username">Username</label></div>
    <input id="username" type="text" pInputText [(ngModel)]="userObj.username" class="text-base p-2 w-20rem"/>
  </div>

  <div class="field col-12">
    <div class="mb-2"><label for="password">Password</label></div>
    <input id="password" type="password" pInputText [(ngModel)]="userObj.password" class="text-base p-2  w-20rem">
  </div>
  <div class="field col-12">
    <button class="mt-3" pButton pRipple label="Create User" (click)="onCreateUser()"> </button>
  </div>
</div>
