.menuitem {
  background-color: #006666;
  border-radius: 0px;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 10000;
  height: 56px;
  padding: 0;
}
a {
  color: #fff;
  padding: 0 10px;
  font-size: 18px;
}
