::ng-deep .p-menubar {
  flex-direction: row-reverse;
  background-color: #006666;
  border-radius: 0px;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 10000;
  height: 60px;
  padding: 0;
}

::ng-deep div.p-menubar.p-component {
  border: none;
}

::ng-deep
  .p-menubar
  .p-menuitem
  > .p-menuitem-content
  .p-menuitem-link
  .p-menuitem-text {
  color: #ffff;
  border: none;
}

::ng-deep .p-menubar .p-menuitem > .p-menuitem-content:hover {
  background-color: #006666;
}
