<div class="subheader-container flex flex-row align-items-center border-1 border-top-none border-300 h-3rem" >
  <div class="flex flex-row align-items-center">
    <i *ngIf="showBackArrow" class="pi pi-arrow-left ml-2 back-arrow" (click)="goBack()"></i>
    <p class="ml-2"><strong>{{ selectedMenuName }}</strong></p>
  </div>
  @if(items.length){
    <div class="flex flex-row align-items-center ml-auto">
      <p-menubar [model]="items" [style]="{'background-color': 'white'}"/>
    </div>
  }
    <div class="flex flex-row align-items-center ml-auto pr-5">
        @for (item of actions; track $index) {
          <a [routerLink]="item.routerLink"
             [pTooltip]="item.tooltipOptions.tooltipLabel"
             [tooltipPosition]="item.tooltipOptions.tooltipPosition"
             [tooltipEvent]="item.tooltipOptions.tooltipEvent" (click)="item.command ? item.command() : null"
             class="m-3"
          >
            <i [class]="item.iconClass"></i>
          </a>
        }
    </div>
</div>
