<div class="flex flex-row align-items-center  h-3rem" >
    <div class="flex flex-row align-items-center">
        <p class="m-2"><strong>{{ selectedMenuName }}</strong></p>
    </div>
    <div class="flex flex-row align-items-center ml-auto">
        @for (item of items; track $index) {
          <a [routerLink]="item.routerLink"
             [pTooltip]="item.tooltipOptions.tooltipLabel"
             [tooltipPosition]="item.tooltipOptions.tooltipPosition"
             [tooltipEvent]="item.tooltipOptions.tooltipEvent"
          >
            <i [class]="item.iconClass"></i>
          </a>
        }
    </div>
</div>
