<app-subheader selectedMenuName="Pipeline ID: {{pipeid}}" [actions]="menubarItems" [showBackArrow]="true" (deleteChannelEvent)="onDeletePipelines()"></app-subheader>
<app-pipeline-delete  [visible]="visibleDialog" [pipelines]="[{'id': pipeid}]" (deleteConfirmed)="onDeletePipelines()" (cancel)="visibleDialog = false"></app-pipeline-delete >
<div class="main-content">
    <div class="mb-3">
        <button pButton  (click)="showStartSpinner()" pTooltip="Start Pipeline" tooltipPosition="bottom" class="mr-2">
            <span *ngIf="!isStartSpinning" class="pi pi-play-circle text-xl"></span>
            <span *ngIf="isStartSpinning" class="pi pi-spin pi-spinner text-xl"></span>
        </button>
        <button pButton (click)="toggleStopSpinner()" pTooltip="Stop Pipeline" tooltipPosition="bottom">
            <span *ngIf="!isStopSpinning" class="pi pi-stop-circle text-xl"></span>
            <span *ngIf="isStopSpinning" class="pi pi-spin pi-spinner text-xl"></span>
        </button>
    </div>
    <p-table [value]="details" [tableStyle]="{ 'min-width': '10rem' }">
        <ng-template pTemplate="body"  let-detail>
            <tr>
                <td style="max-width: 25rem; width:15rem">{{ detail[0] }}</td>
                <td>{{ detail[1] }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>