 <app-subheader selectedMenuName="Edit channel" [backRoute]="'channels/channel/' + chanid"></app-subheader>

<div *ngIf="loaded" class="main-content-body">
  <p-toast position="top-right" [baseZIndex]="5000"/>
     <div class="p-grid">
      <div class="p-fluid">
        <div class="p-field">
          <div class="card mt-4">
            <div class="flex flex-column gap-1 mt-4">
              <div>Channel ID: <b>{{ chanid }}</b></div>
              <small>Permanent identifier of the channel</small>
            </div>
            <div class="flex flex-column gap-1 mt-4">
              <label for="channelType">Type</label>
              <input type="text" pInputText [(ngModel)]="selectedTypeOption" name="channelType" id="channelType" class="input_field " disabled/>
            </div>
            <div class="flex flex-column gap-1 mt-4">
              <label for="authOptions">Authentication type</label>
              <select [(ngModel)]="selectedAuthOption" (ngModelChange)="onChangeAuthenticationType($event)" id="authOptions" class="input_field border-1 border-round ">
                  <option *ngFor="let option of authOptions" [value]="option.value">{{ option.label }}</option>
              </select>
            </div>
            <div *ngIf="selectedTypeOption == 'mqtt'" class="p-field flex flex-column gap-1 mt-4">
              <label for="clientid">MQTT Client ID</label>
              <input type="text" pInputText name="clientid" id="clientid" [(ngModel)]="clientid" class="input_field"/>
            </div>
            <div *ngIf="selectedTypeOption == 'mqtt'" class="p-field flex flex-column gap-1">
              <label for="username">Username</label>
              <input type="text" pInputText [(ngModel)]="username" name="username" id="username" class="input_field "/>
            </div>
            <div *ngIf="selectedAuthOption === 'password'" class="p-field flex flex-column gap-1 mt-4">
              <label for="password">{{ getPasswordLabel() }}</label>
              <p-password [(ngModel)]="secret" name="password" class="input_field pt-0 pl-0" [toggleMask]="true" [feedback]="false"/>
              <small>Keep blank, if you do not want to change the existing password.</small>
            </div>
            <div *ngIf="selectedAuthOption === 'token'" class="p-field flex flex-column gap-1 mt-4">
              <label for="token">Token</label>
              <div class="flex flex-row">
                <input type="text" pInputText name="token" id="token" [(ngModel)]="secret" class="input_field" />
                <button pButton (click)="onGenerateToken()" class="ml-4 pl-0 pr-0 w-6rem">Generate</button>
              </div>
            </div>
            <div *ngIf="selectedTypeOption == 'http'" class="p-field flex flex-column gap-1 mt-4">
              <label for="queue_name">Queue Name</label>
              <input type="text" pInputText name="queue_name" id="queue_name" [(ngModel)]="queue_name" class="input_field"/>
            </div>
            <div *ngIf="selectedAuthOption === 'jwt_es256'" class="p-field flex flex-column gap-1">
                <label for="key">JWT Key</label><textarea [(ngModel)]="secret" id="key" aria-invalid="false" name="jwtKey" cols="62" rows="6" class="pubKeyFormat"></textarea>
            </div>
          </div>
        </div>
        <div class="p-field">
            <span><strong>Channel state</strong></span>
            <div class="card flex mt-3 ">
                <div class="flex flex-column gap-1">
                    <p-inputSwitch [(ngModel)]="enabled" />
                </div>
            </div>
        </div>
    </div>
    <div class="mt-2">
      <button pButton (click)="onUpdate()">Update</button>
    </div>
</div>