<app-subheader selectedMenuName="Edit channel" [showBackArrow]="true"></app-subheader>
<div class="main-content-body">
  <div class="p-grid">
    <div class="p-col-12 p-md-6">
      <h3>Channel ID: {{ chanid }}</h3>
      <div class="p-fluid">
        <div class="p-field flex flex-column gap-1">
            <label for="channelID">Channel ID</label>
            <input name="channelID" id="channelID" [(ngModel)]="chanid" placeholder="{{ chanid }}" [disabled]="true"
              class="input_field"/>
            <small>Permanent identifier for your channel.</small>
        </div>
        <div class="p-field">
          <span><strong>Channel State</strong></span>
          <div class="card flex mt-3">
            <div class="flex flex-column gap-1">
              <div *ngFor="let category of categories" class="field-checkbox">
                <p-radioButton [inputId]="category.key" name="category" [value]="category" [(ngModel)]="selectedCategory"/>
                <label [for]="category.key" class="ml-2">{{ category.name }}</label>
              </div>
            </div>
          </div>
        </div>
        <button pButton (click)="onUpdate()">Update</button>
      </div>
    </div>
  </div>
</div>
