 <app-subheader selectedMenuName="Edit channel" [backRoute]="'channels/channel/' + chanid"></app-subheader>

<div *ngIf="dataLoaded" class="main-content-body">
  <p-toast position="top-right" [baseZIndex]="5000"/>
     <div class="p-grid">
      <h4>Channel ID: {{ chanid }}</h4>
      <div class="p-fluid">
              <div class="flex flex-column gap-1 mt-4">
                  <label for="authOptions">Authentication type</label>
                  <select [(ngModel)]="selectedOption" id="authOptions" class="border-1 border-round ">
                      <option *ngFor="let option of authOptions" [value]="option.value">{{ option.label }}</option>
                  </select>
              </div>
              <div class="mt-4">
                  <div class="p-field flex flex-column gap-1">
                      <label for="clientid">MQTT Client ID</label>
                      <input  name="clientid" id="clientid" [(ngModel)]="clientid" class="input_field border-1 border-round"/>
                  </div>
                  <div class="p-field flex flex-column gap-1">
                      <label for="username">Username</label>
                      <input  name="username" id="username" [(ngModel)]="username" class="input_field border-1 border-round" />
                  </div>
              </div>
                <div class="p-field flex flex-column gap-1" *ngIf="selectedOption === 'password'" >
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" [(ngModel)]="password" class="input_field border-1 border-round"/>
                </div>
                <div class="p-field flex flex-column gap-1" *ngIf="selectedOption === 'jwt'">
                      <label for="key">JWT Key</label>
                      <textarea [(ngModel)]="jwtKey" id="key" aria-invalid="false" cols="62" rows="6" class="pubKeyFormat"></textarea>
                </div>
      </div>
        <div class="p-field">
          <span><strong>Channel State</strong></span>
          <div class="card flex mt-3 mb-6">
            <div class="flex flex-column gap-1">
              <p-inputSwitch [(ngModel)]="enabled" />
            </div>
          </div>
        </div>
        <button pButton (click)="onUpdate()">Update</button>
      </div>

  </div>