.tableheader {
  position: fixed;
  z-index: 12;
  background: white;
  width: calc(100% - 178px);
}
.table-content {
  margin-top: 100px;
  position: relative;
  z-index: 10;
}
:host::ng-deep
  p-dropdown.p-element
  .p-inputwrapper
  .ng-untouched
  .ng-star-inserted
  .p-inputwrapper-filled
  .ng-dirty
  .ng-valid {
  position: absolute;
  margin-right: 140px;
}
:host {
  ::ng-deep .p-toast-top-right {
    top: 4rem;
  }
}
