<app-subheader selectedMenuName="Users" [actions]="menubarItems"></app-subheader>
<app-user-delete  [visible]="visibleDialog" [users]="selectedUsers" (deleteConfirmed)="onDeleteUser()" (cancel)="visibleDialog = false"></app-user-delete>
<div class="main-content">
    <p-toast position="top-right" class="mt-6" [baseZIndex]="5000"/>
        <p-table [value]="users" selectionMode="multiple" [(selection)]="selectedUsers" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5, 10, 30]">
            <ng-template pTemplate="header"  >
                <tr>
                    <th style="width: 4rem"><p-tableHeaderCheckbox name="checkbox"></p-tableHeaderCheckbox></th>
                    <th >Username</th>
                    <th >Role</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" class="users " let-user>
                <tr class="">
                    <td ><p-tableCheckbox name="checkbox" [value]="user"></p-tableCheckbox></td>
                    <td >{{ user.username }}</td>
                    <td class="role">{{ user.is_admin ? 'Admin' : 'User' }}</td>
                </tr>
            </ng-template>
        </p-table>
</div>
