<div class="pipeline-unit">
  <div class="mb-2">
    @if(category === 'filtra') {
      <button (click)="addUnit()">Add</button>
      <button (click)="removeUnit()" style="margin-right: 1rem">Remove</button>
    }

    <select [(ngModel)]="type" (ngModelChange)="onTypeChange($event)" class="input_field">
      <option *ngFor="let opt of getTypes()" [value]="opt">{{ opt }}</option>
    </select>

    <select [(ngModel)]="optionalPropertySelected">
      <ng-container *ngFor="let propertyName of optionalPropertyNames">
        <option>{{ propertyName }}</option>
      </ng-container>
    </select>
    <button (click)="addProperty(optionalPropertySelected)" style="margin-left:0.2rem">Add property</button>
  </div>

  <ng-container *ngFor="let property of usedProperties; index as i">
    <div>
      <unit-property [unit] = "this" [property] = "property"></unit-property>
    </div>
  </ng-container>
</div>