<div style="border: solid; margin: 5px">
  @if(category === 'filtra') {
    <button (click)="addUnit()">Add</button>
    <button (click)="removeUnit()">Remove</button>
  }

  <select pInputText [(ngModel)]="type" (ngModelChange)="onTypeChange($event)" class="input_field">
    <option *ngFor="let opt of getTypes()" [value]="opt">{{ opt }}</option>
  </select>

  <select [(ngModel)]="optionalPropertySelected">
    <ng-container *ngFor="let propertyName of optionalPropertyNames">
      <option>{{ propertyName }}</option>
    </ng-container>
  </select>
  <button (click)="addProperty(optionalPropertySelected)">Add property</button>

  <ng-container *ngFor="let property of usedProperties; index as i">
    <div>
      <unit-property [unit] = "this" [property] = "property"></unit-property>
    </div>
  </ng-container>
</div>