<app-subheader selectedMenuName="Status"></app-subheader>

 <div class="main-content-body" [style]="{'margin-top': '114px'}">
    <p-divider align="center" type="solid">Network</p-divider>
    <p-table [value]="networkDetails" [tableStyle]="{ 'min-width': '10rem' }">
      <ng-template pTemplate="body" let-detail>
        <tr>
          <td style="max-width: 25rem; width:15rem">{{ detail[0] }}</td>
          <td>{{ detail[1] }}</td>
        </tr>
      </ng-template>
    </p-table>
    <p-divider align="center" type="solid">Services</p-divider>
    <p-table [value]="serviceDetails" [tableStyle]="{ 'min-width': '10rem' }">
      <ng-template pTemplate="body" let-detail>
        <tr>
          <td style="max-width: 25rem; width:15rem">{{ detail[0] }}</td>
          <td>{{ detail[1] }}</td>
        </tr>
      </ng-template>
    </p-table>
 </div>
