<app-subheader selectedMenuName="G-Cloud Client"></app-subheader>

<div class="main-content-body" [style]="{'margin-top': '120px'}">
  <p-toast position="top-right" [baseZIndex]="5000"/>
  <div class="field col-12 w-full mt-2">
    <div>
      <p-checkbox [(ngModel)]="isGCloudEnabled" [binary]="true" inputId="gcloud_id"/>
      <label for="gcloud_id" class="pl-2">Enable G-Node Cloud Client</label>
    </div>
  </div>
  <div class="field col-12 mt-4">
    <button pButton (click)="onSubmit()" class="button">Submit</button>
  </div>
</div>
