<app-subheader selectedMenuName="Create Channel" backRoute="/channels"></app-subheader>
<div class="main-content-body">
    <p-toast position="top-right" (onClick)="clear()" (onClose)="loading = false"  [baseZIndex]="5000"/>
      <div class="p-grid">
        <div class="p-col-12 p-md-6">
            <div class="p-fluid">
                <div class="p-field">
                    <input id="channelID" name="chanid" [(ngModel)]="chanid" placeholder="Channel ID" class="input_field border-1 border-round"/>
                    <small>Permanent identifier for your channel.</small>
                </div>
                <div class="p-field">
                    <span><strong>Authentication</strong></span>
                    <small>Specify the public key that will be used to authenticate this channel. You can leave the key empty, but channels will not be able to connect to gnode without a key.</small>
                    <div class="card mt-4">
                        <div class="flex flex-column gap-1">
                            <label for="authOptions">Authentication type</label>
                            <select [(ngModel)]="selectedOption" (ngModelChange)="onChangeAuthenticationType($event)" id="authOptions" class="input_field border-1 border-round ">
                                <option *ngFor="let option of authOptions" [value]="option.value">{{ option.label }}</option>
                            </select>
                        </div>
                        <div class="mt-4">
                            <div class="p-field flex flex-column gap-1">
                              <label for="clientid">MQTT Client ID</label>
                              <input name="clientid" id="clientid" [(ngModel)]="clientid" class="input_field border-1 border-round"/>
                            </div>
                            <div class="p-field flex flex-column gap-1">
                              <label for="username">Username</label>
                              <input  name="username" id="username" [(ngModel)]="username" class="input_field border-1 border-round" />
                            </div>
                        </div>
                        <div class="p-field flex flex-column gap-1" *ngIf="selectedOption === 'password'">
                              <label for="password">Password</label>
                              <p-password [(ngModel)]="password" name="password" class="input_field" [toggleMask]="true" [feedback]="false"/>
                        </div>
                        <div class="p-field flex flex-column gap-1" *ngIf="selectedOption === 'jwt_es256'">
                            <label for="key">JWT Key</label><textarea [(ngModel)]="password" id="key" aria-invalid="false" name="jwtKey" cols="62" rows="6" class="pubKeyFormat"></textarea>
                        </div>
                     </div>
                </div>

                <div class="p-field">
                    <span><strong>Channel state</strong></span>
                    <div class="card flex mt-3 ">
                        <div class="flex flex-column gap-1">
                            <div *ngFor="let category of categories" class="field-checkbox">
                                <p-radioButton [inputId]="category.key" name="category" [value]="category" [(ngModel)]="selectedCategory" />
                                <label [for]="category.key" class="ml-2">{{ category.name }}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-2">
                <button pButton (click)="onSubmit()" [disabled]="loading">Submit</button>
            </div>
        </div>
    </div>
</div>
