<div class="card flex flex-column justify-content-center">
  <div class="mb-4  flex flex-column ">
    <h1 class=" flex flex-row justify-content-center mt-3 mb-auto">Log in</h1>
    <p class="descText flex flex-row justify-content-center mt-2">Please enter your details.</p>
  </div>
  <div class="flex flex-column justify-content-center mb-2">
    <form>
      <div class="card flex flex-row justify-content-center">
        <p-card>
          <div class="flex flex-column gap-2">
            <label for="username">Username</label>
            <input class="mb-4" name="username" pInputText id="username" aria-describedby="username-help"
              [(ngModel)]="loginObj.username" />
          </div>
          <div class="flex flex-column gap-2 mb-4">
            <label for="password">Password</label>
            <input pInputText name="password" id="password" aria-describedby="username-help"
              [(ngModel)]="loginObj.password" />
            <small id="username-help">
              Forgot password?
            </small>
          </div>
          <button pButton pRipple label="LOG IN" (click)="onLogin()"> </button>
        </p-card>
      </div>
    </form>
  </div>
  <div class="flex flex-column justify-content-center">
    <p-divider layout="horizontal" class="p-divider-center flex flex-row justify-content-center w-2 m-auto"></p-divider>
  </div>

  <div class="flex flex-column">
    <p class=" flex flex-row justify-content-center m-auto">Don't have an account? <a [routerLink]="['/register']"
        class="ml-2">Sign up</a></p>
  </div>
</div>