.editConnector-container {
  max-height: 100vh;
  flex-grow: 1;
  /* margin-top: 70px; */
}

/* #connectorID {
  width: 40%;
} */

.p-fluid .p-field {
  margin-bottom: 1.5rem;
}

small {
  display: block;
  margin-top: 0.5rem;
  color: black;
}

:host {
  ::ng-deep .p-radiobutton .p-radiobutton-box.p-highlight {
    background-color: green;
    border: 2px solid green;
    color: white;
  }
}

button {
  background-color: #006666 !important;
  width: 7rem;
  font-size: 18px;
  justify-content: center;
}

:host {
  ::ng-deep .p-button {
    padding: 0.375rem 0.625rem;
  }
}

legend {
  color: grey;
  font-size: 14px;
  letter-spacing: 1px;
}

.padding-lagom {
  padding-top: 0em;
}

.margin-lagom {
  margin-top: 1em;
}

input {
  box-shadow: none;
  border: none;
}

.input_fieldset {
  border: none;
  padding: 10px;
  margin: 0px;
  outline: none;
  width: 100%;
}

fieldset {
  width: 30em;
  height: 4em;
}
