<app-subheader selectedMenuName="Edit connector"></app-subheader>
<div class="editConnector-container">
  <div class="p-grid ml-3">
    <div class="p-col-12 p-md-6">
      <h3>Connector ID: {{ connid }}</h3>
      <div class="p-fluid">
        <div class="p-field">
          <fieldset class="padding-lagom margin-lagom">
            <legend>Connector ID</legend>
            <input name="connectorID" id="connectorID" [(ngModel)]="connid" placeholder="{{ connid }}" [disabled]="true"
              class="input_fieldset"/>
          </fieldset>
          <small>Permanent identifier for your connector.</small>
        </div>

        <div class="p-field">
          <span><strong>Connector State</strong></span>
          <div class="card flex mt-3">
            <div class="flex flex-column gap-1">
              <div *ngFor="let category of categories" class="field-checkbox">
                <p-radioButton [inputId]="category.key" name="category" [value]="category" [(ngModel)]="selectedCategory"/>
                <label [for]="category.key" class="ml-2">{{ category.name }}</label>
              </div>
            </div>
          </div>
        </div>
        <button pButton (click)="onUpdate()">Update</button>
      </div>
    </div>
  </div>
</div>
