 
<div class="createUser-container">
  <h1>Create New User</h1>
  <form>
    <div>
    <label for="username">Enter Username: <input class="mb-4" name="username" required pInputText id="username" aria-describedby="username-help"
      [(ngModel)]="userObj.username" /></label>  
    </div>
    <div>
    <label for="passwordInput">Enter Password: <p-password [(ngModel)]="userObj.password" name="passwordInput" id="passwordInput" inputId="passwordInput"  promptLabel="Choose a password" 
      weakLabel="Too simple" 
      mediumLabel="Average complexity" 
      strongLabel="Complex password" [toggleMask]="true" 
      /></label>  
    </div>
    
    <button class="mt-5" pButton pRipple label="Create User" (click)="onCreateUser()"> </button>
  </form>
</div>
  
  