<app-subheader selectedMenuName="Create User"> </app-subheader>
<div class="createUser-container">
  <h2>Create new user</h2>
  @if(errorMessage){
    <div class="alert flex flex-row "> <i class="pi pi-exclamation-circle mr-3"style="color: red; font-size:18px" ></i> 
      {{ errorMessage }}
    </div>  
    }
  <form>
    <div>
    <label for="username">Enter Username: <input class="mb-4" name="username" required pInputText id="username" 
      [(ngModel)]="userObj.username" /></label>  
    </div>
    <div>
    <label for="passwordInput">Enter Password: <p-password [(ngModel)]="userObj.password" name="passwordInput" id="passwordInput" [toggleMask]="true" /></label>  
    </div>    
    <button class="mt-5" pButton pRipple label="Create User" (click)="onCreateUser()"> </button>
  </form>
</div>
  
  