:host {
  ::ng-deep .p-menubar {
    flex-direction: row-reverse;
    background-color: #0f5c55;
    border-radius: 0px;
    /*  position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 9999; */
  }
}
:host {
  ::ng-deep div.p-menubar.p-component {
    border: none;
  }
}

:host {
  ::ng-deep
    .p-menubar
    .p-menuitem
    > .p-menuitem-content
    .p-menuitem-link
    .p-menuitem-text {
    color: #ffff;
    border: none;
  }
}

:host {
  ::ng-deep .p-menubar .p-menuitem > .p-menuitem-content:hover {
    background-color: #0a4f49;
  }
}
:host {
  ::ng-deep .p-ripple .p-element .p-menuitem-link {
    aria-hidden: 'false';
  }
}

.wrapper {
  height: auto;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  flex-grow: 1;
}
