<!-- <div class="flex flex-row gap-4 m-auto">
    <div class="flex flex-row gap-2">
      <h2>Device ID</h2>
      <p class="registry-container">test1</p>
    </div>
    
    <div class="flex flex-column gap-2">
      <h2>Numeric ID</h2>
      <p class="registry-container">132u43ure</p>
    </div>
    
    <div class="flex flex-column gap-2">
      <h2>Registry</h2>
      <p class="registry-container">Registry info</p>
    </div>
    
    <div class="flex flex-column gap-2">
      <h2>Communication</h2>
      <p class="registry-container">Allowed</p>
    </div>
  </div> -->
  