<app-subheader selectedMenuName="Upload Files" ></app-subheader>
<div class="flex flex-grow-1 flex-column ml-4">
  <h3 class="mt-5 mb-5">Upload Private and Public keys for TLS protocol</h3>
  
  <div class="flex flex-column gap-2 mb-4">
    <div class="flex flex-row align-items-center gap-1">
      <label for="privateKey" class="flex-1">Upload Private Key</label>
      <input type="file" id="privateKey" name="privateKey" class="flex-1" (change)="uplaodFile($event, 'privateKey')">
    </div>
  </div>
  
  <div class="flex flex-column gap-2 mb-4">
    <div class="flex flex-row align-items-center gap-1">
      <label for="publicKey" class="flex-1">Upload Public Key</label>
      <input type="file" id="publicKey" name="publicKey" class="flex-1" (change)="uplaodFile($event, 'publicKey')">
    </div>
  </div>

  <div class="flex flex-column gap-2 mb-4">
    <div class="flex flex-row align-items-center gap-1">
      <label for="gcpKey" class="flex-1">Upload GCP Access Key</label>
      <input type="file" id="gcpKey" name="gcpKey" class="flex-1" (change)="uplaodFile($event, 'gcpKey')">
    </div>
  </div>

  <div class="mt-6">
    <button  pButton (click)="onSubmit()">Submit</button>
</div>
</div>
