        <app-subheader selectedMenuName="CA certificates" [actions]="menubarItems"></app-subheader>
        <app-delete [visible]="visibleDialog" [items]="selectedCAs" [itemLabel]="'ca'" [idField]="'id'" (deleteConfirmed)="onDelete()" (cancel)="visibleDialog = false"></app-delete>
        <div *ngIf="showMessage" class="showMessage flex justify-content-center align-items-center" style="height: calc(100vh - 56px);">
            <div class="text-center">
                No certificates available. To create one, click the plus sign in the top-right corner or use the
                <a routerLink="/ca/ca-add" class="text-green-700">Add CA Certificate</a> link.
            </div>
        </div>
        <div *ngIf="!showMessage" class="main-content">
            <supreme-table [columnArray]="columnList" [gridData]="caList" [(selection)]="selectedCAs"></supreme-table>
        </div>
