/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}
a {
  text-decoration: none;
}

.no-border {
  border: none;
  box-shadow: none;
}

.p-menuitem-link-active {
  background-color: rgb(247, 245, 245);
}

.p-sidebar {
  width: 180px;
}