/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.no-border {
  border: none;
  box-shadow: none;
}

.p-menuitem-link-active {
  background-color: rgb(247, 245, 245);
}

.p-sidebar {
  width: 180px;
}

.user-icon {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  line-height: 2.5rem;
  border-radius: 50%;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease,
    transform 0.3s ease;
  background-color: rgb(189, 189, 189);
  font-size: 1.5rem;
  color: white;
}
.user-icon:hover {
  box-shadow: 0 0 0 5px #2e7a7a;
}

.back-arrow {
  display: block;
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.back-arrow:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.back-arrow:hover i {
  color: #000;
}

.main-content {
  margin-top: 124px;
  height: 100%;
}
.main-content-body {
  margin-top: 131px;
  height: 100%;
  padding-bottom: 20px;
}
h3 {
  margin-top: 7.5rem;
}

textarea {
  box-shadow: none;
  outline: none;
}
