
<p-dialog  [(visible)]="visible" [modal]="true" [style]="{ width: '40rem' }">
  <ng-template pTemplate="header">
    {{ isMultiple ? 'Delete connectors: ' + connectorIds.join(', ') + '?' : 'Delete connector: ' + connectorIds[0] + '?' }}
  </ng-template>
    <span class="p-text-secondary block mb-5">
      This action will delete {{ isMultiple ? 'these connectors' : 'this connector' }} and all its metadata, but does not affect data already published to Cloud Pub/Sub.
    </span>
    <div class="flex justify-content-end gap-2">
      <p-button label="Cancel" severity="secondary" (click)="onCancel()"></p-button>
      <p-button label="Delete" severity="danger" (click)="onDelete()"></p-button>
    </div>
</p-dialog>
