
<div class="createConnector-container">
    <div class="p-grid ml-3 ">
        <div class="p-col-12 p-md-6">
            <h2>Create a Connector</h2>
            <div class="p-fluid">
                <div class="p-field">
                    <label for="connectorID"></label>
                    <input pInputText id="connectorID" [(ngModel)]="value" placeholder="Connector ID"/>
                    <small>Permanent identifier for your connector. 3-255 characters. Start with a letter. You can also include numbers and the following characters: + . % - _ ~</small>
                </div>

                <div class="p-field">
                    <span><strong>Connector communication</strong></span>
                    <small>If blocked, all communications from the connector will be rejected. Blocking a connector may be useful if it's defective or not configured.</small>
                    <div class="card flex mt-2 ">
                        <div class="flex flex-column gap-1">
                            <div *ngFor="let category of categories" class="field-checkbox">
                                <p-radioButton 
                                    [inputId]="category.key" 
                                    name="category" 
                                    [value]="category" 
                                    [(ngModel)]="selectedCategory" />
                                <label [for]="category.key" class="ml-2">
                                    {{ category.name }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="p-field">
                    <span><strong>Authentication (optional)</strong></span>
                    <small>Specify the public key that will be used to authenticate this connector. You can leave the key empty, but connectors will not be able to connect to ClearBlade without a key.</small>
                    <div class="card flex mt-2 ">
                        <div class="flex flex-column gap-1">
                            <div *ngFor="let inputmethod of inputMethod" class="field-checkbox">
                                <p-radioButton 
                                    [inputId]="inputmethod.key" 
                                    name="inputmethod" 
                                    [value]="inputmethod" 
                                    [(ngModel)]="selectedMethod" (click)="onSelectedOption()"/>
                                <label [for]="inputmethod.key" class="ml-2">
                                    {{ inputmethod.name }}
                                </label>
                            </div>
                        <div >
                        <div *ngIf="!showUserPassField" class="flex flex-column gap-2">
                            <label for="username">Username</label>
                            <input class="mb-4" name="username" pInputText id="username" aria-describedby="username-help"autocomplete="off"/>
                        </div>
                        <div *ngIf="!showUserPassField" class="flex flex-column gap-2 mb-4">
                            <span id="passwordInput">Password</span>
                            <p-password name="passwordInput" id="passwordInput" [inputId]="'passwordInput'"  class="w-full" promptLabel="Choose a password" 
                                [toggleMask]="true" [style]="{'width':'100%'}"
                                [inputStyle]="{'width':'100%'}"/> 
                        </div>
                        </div>
                        <fieldset>
                            <legend>Public Key</legend>
                            <textarea name="publicKey" rows="3" cols="30" ><div class="flex justify-content-center">
                                <p-dropdown 
                                    [options]="cities" 
                                    [(ngModel)]="selectedCity" 
                                    optionLabel="name"
                                    placeholder="Select a City" />
                            </div></textarea>
                        </fieldset>
                    </div>
                </div>
                <div class="mt-5">
                    <button  pButton (click)="onSubmit()">Submit</button>  
                </div>
                
            </div>
        </div>
    </div>
</div>

