
<div class="createConnector-container">
    <div class="p-grid ml-3 ">
        <div class="p-col-12 p-md-6">
            <h2>Create a Connector</h2>
            <div class="p-fluid">
                <div class="p-field">
                    <label for="connectorID"></label>
                    <input pInputText id="connectorID" name="connid" [(ngModel)]="connid" placeholder="Connector ID"/>
                    <small>Permanent identifier for your connector. 3-255 characters. Start with a letter. You can also include numbers and the following characters: + . % - _ ~</small>
                </div>

                <div class="p-field">
                    <span><strong>Connector communication</strong></span>
                    <small>If blocked, all communications from the connector will be rejected. Blocking a connector may be useful if it's defective or not configured.</small>
                    <div class="card flex mt-3 ">
                        <div class="flex flex-column gap-1">
                            <div *ngFor="let category of categories" class="field-checkbox">
                                <p-radioButton 
                                    [inputId]="category.key" 
                                    name="category" 
                                    [value]="category" 
                                    [(ngModel)]="selectedCategory" />
                                <label [for]="category.key" class="ml-2">
                                    {{ category.name }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="p-field">
                    <span><strong>Authentication</strong></span>
                    <small>Specify the public key that will be used to authenticate this connector. You can leave the key empty, but connectors will not be able to connect to gnode without a key.</small>
                    <div class="card mt-4">
                        <fieldset class="w-4">
                            <legend>Public Key</legend>
                            <select [(ngModel)]="selectedOption" id="atuthOptions">
                                <option *ngFor="let option of atuthOptions" [value]="option.value">
                                  {{ option.label }}
                                </option>
                              </select>
                        </fieldset>  
                        <div class="mt-4" *ngIf="selectedOption === 'option2'" >  
                            <div  class="flex flex-row gap-2 ">
                                <label  for="username">Username</label>
                                <input class="mb-4 w-3" name="username" pInputText id="username" [(ngModel)]="username" />
                            </div>
                            <div class="flex flex-row gap-2 mb-4">
                                <span id="password">Password</span>
                                <p-password name="password" id="password" [(ngModel)]="password" [inputId]="password"  class="w-3" promptLabel="Choose a password" 
                                     [style]="{'width':'100%'}"
                                    [inputStyle]="{'width':'100%'}"/> 
                            </div> 
                        </div> 
                    </div>
                </div>
            </div>
            <div class="mt-5">
                <button  pButton (click)="onSubmit()">Submit</button>  
            </div>
            
        </div>
    </div>
</div>

