<app-subheader selectedMenuName="Create connector" ></app-subheader>
<div class="createConnector-container">
    <div class="p-grid ml-3 ">
        <div class="p-col-12 p-md-6">
            <h2>Create a Connector</h2>
            <div class="p-fluid">
                <div class="p-field">
                    <label for="connectorID"></label>
                    <input pInputText id="connectorID" name="connid" [(ngModel)]="connid" placeholder="Connector ID"/>
                    <small>Permanent identifier for your connector.</small>
                </div>


                <div class="p-field">
                    <span><strong>Authentication</strong></span>
                    <small>Specify the public key that will be used to authenticate this connector. You can leave the key empty, but connectors will not be able to connect to gnode without a key.</small>
                    <div class="card mt-4">
                        <fieldset class="padding-lagom margin-lagom">
                            <legend>Authentication type</legend>
                            <select [(ngModel)]="selectedOption" id="authOptions">
                                <option *ngFor="let option of authOptions" [value]="option.value">{{ option.label }}</option>
                            </select>
                        </fieldset>
                        <div class="mt-4">
                          <fieldset class="padding-lagom margin-lagom">
                            <legend>MQTT Client ID</legend>
                            <input  name="clientid" id="clientid" [(ngModel)]="clientid" class="input_fieldset"/>
                          </fieldset>
                          <fieldset class="padding-lagom margin-lagom">
                            <legend>Username</legend>
                            <input  name="username" id="username" [(ngModel)]="username" class="input_fieldset"/>
                          </fieldset>
                         </div>
                        <div class="mt-4" *ngIf="selectedOption === 'password'" >
                          <fieldset class="padding-lagom margin-lagom">
                            <legend>Password</legend>
                            <input name="password" id="password" [(ngModel)]="password" class="input_fieldset"/>
                          </fieldset>
                        </div>
                        <div class="mt-4" *ngIf="selectedOption === 'jwt'">
                          <fieldset>
                            <legend>Key</legend>
                            <textarea [(ngModel)]="password" aria-invalid="false" name="authentication.publicKey.key" cols="62" rows="6" class="pubKeyFormat" ></textarea>
                          </fieldset>
                        </div>
                    </div>
                </div>

                <div class="p-field">
                    <span><strong>Connector state</strong></span>
                    <div class="card flex mt-3 ">
                        <div class="flex flex-column gap-1">
                            <div *ngFor="let category of categories" class="field-checkbox">
                                <p-radioButton [inputId]="category.key" name="category" [value]="category" [(ngModel)]="selectedCategory" />
                                <label [for]="category.key" class="ml-2">{{ category.name }}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-2">
                <button  pButton (click)="onSubmit()">Submit</button>
            </div>
        </div>
    </div>
</div>
