.createConnector-container {
  width: 100%;
  height: 100%;
  padding: 10px;
}

#connectorID {
  width: 40%;
}
.p-fluid .p-field {
  margin-bottom: 1.5rem;
}

small {
  display: block;
  margin-top: 0.5rem;
  color: black;
}
:host {
  ::ng-deep .p-radiobutton .p-radiobutton-box.p-highlight {
    background-color: green;
    border: 2px solid green;
    color: white;
  }
}

textarea {
  border: none;
}
button {
  width: 8rem;
  font-size: 18px;
  justify-content: center;
  background-color: #006666 !important;
}
select {
  border: none;
  background-color: transparent;
  font-size: 14px;
  padding: 5px;
  width: 100%;
}
select:focus {
  outline: none;
}
.pubKeyFormat {
  border: 0px;
  box-sizing: content-box;
  background: none;
  height: auto;
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  display: block;
  min-width: 0px;
  width: 100%;
  animation-name: mui-auto-fill-cancel;
  animation-duration: 10ms;
  resize: none;
  padding: 0px;
  outline: none;
  height: 69px;
  overflow: hidden;
}
legend {
  color: grey;
  font-size: 14px;
}
