.createConnector-container {
  width: 100%;
  height: 100%;
  padding: 10px;
}

#connectorID {
  width: 40%;
}
.p-fluid .p-field {
  margin-bottom: 1.5rem;
}

small {
  display: block;
  margin-top: 0.5rem;
  color: black;
}
:host {
  .p-radiobutton {
    background-color: #4caf50 !important;
    border: 2px solid green;
    color: white;
  }
}

textarea {
  border: none;
}
button {
  background-color: #0f5c30;
  width: 8rem;
  font-size: 18px;
  justify-content: center;
}
select {
  border: none;
  background-color: transparent;
  font-size: 16px;
  padding: 5px;
  width: 100%;
}
select:focus {
  outline: none;
}
option {
  border-radius: 0;
}
