.communicationBox {
  display: flex;
  align-items: center;
}
.comm-svg-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  fill: green;
}
.pi.pi-plus {
  font-size: 24px;
  margin-right: 8px;
  color: inherit;
  display: inline-block;
  line-height: 1 !important;
  vertical-align: middle;
}
