        <app-subheader selectedMenuName="Authentication bundles" [actions]="menubarItems" (deleteChannelEvent)="onDeleteChannel()"></app-subheader>
        <app-authbundle-delete [visible]="visibleDialog" [chanid]="selectedAuthbundle" (deleteConfirmed)="onDeleteChannel()" (cancel)="visibleDialog = false"></app-authbundle-delete>

        <div class="flex flex-grow-1 flex-column main-content">
            <div  class="flex flex-column justify-content-center  channelinfo">
                <p-table [value]="authbundleList" selectionMode="multiple" [(selection)]="selectedAuthbundle" dataKey="authbundle_id" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 30]" [tableStyle]="{ 'min-width': '50rem' }">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 4rem"><p-tableHeaderCheckbox name="checkbox" /></th>
                            <th >Authbundle ID</th>
                            <th >Type</th>
                            <th >Description</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" class="channel" let-authbundle>
                        <tr>
                            <td ><p-tableCheckbox name="checkbox" [value]="channel" /></td>
                            <td ><a routerLink="/channel/{{authbundle.authbundle_id}}">{{ authbundle.authbundle_id }}</a></td>
                              <td>{{authbundle.connector_type}}</td>
                              <td>{{authbundle.description}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
