:host {
  ::ng-deep .p-datatable {
    border: 1px solid rgb(193, 191, 191);
  }
}

.communicationBox {
  display: flex;
  align-items: center;
}
.MuiSvgIcon-root {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.MuiSvgIcon-fontSizeMedium {
  font-size: 24px;
}

.css-svg {
  fill: green;
}
